<div class="bg-discovery-page bg-cover bg-repeat w-full h-auto lg:min-h-[calc(100%-4.8rem)]    relative">
  <div class=" py-7 lg:py-10 space-y-8 text-center ">
    <h1 class="title text-blue-400">Chuyên gia bảo hiểm xe</h1>
    <p class="text-white text-xl"> <span class="font-light">Hotline:</span> 0936 224 224</p>
  </div>
  @if (product) {
  <div class="flex flex-col lg:flex-row gap-x-5 w-full px-5 justify-end ">
    <div class="lg:absolute lg:-bottom-5 left-0 lg:m-5 lg:w-[50%]">
      <div class=" flex justify-center items-center justify-items-center">
        <div class="hexagon w-80 h-72 relative overflow-hidden mb-10">
          <video class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 min-w-full min-h-full object-cover" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
              <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
          </video>
      </div>
      </div>

    </div>
    <div class="lg:w-[40%] px-5 ] leading-8">
      <h1 class="text-2xl font-semibold uppercase my-5 tracking-wide">
        {{product.title}}
      </h1>
      <p class="text-sm  leading-8" [innerHtml]="(product.description ?? '') | sanitizeHtml">
      </p>
      <h1 class="text-xl font-semibold text-blue-500 mt-5">
        Phạm vi bảo hiểm
      </h1>
      <div class="text-sm my-4 leading-8" [innerHtml]="(product.coverage ?? '') | sanitizeHtml">
      </div>
      <h1 class="text-xl font-semibold text-blue-500 mt-5">
        Quyền lợi bảo hiểm
      </h1>
      <div class="text-sm  leading-8 mt-3" [innerHtml]="(product.interest ?? '') | sanitizeHtml">
      </div>
    </div>
  </div>
  } @else {
    <p>Đang tải...</p>
  }

</div>

