

<div class="w-full h-auto lg:h-screen bg-img__black bg-cover"

[ngStyle]="isLgScreen ? {
   'background-image': 'url(./assets/img/man.png), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + (selectedProduct?.image || './assets/img/black.png') + '), linear-gradient(rgb(24, 24, 29), black)',
  'background-position': 'left, right, right, center',
  'background-size': 'auto 100%, 80% 100%, 80% 100%, 100% 100%',
  'background-repeat': 'no-repeat, no-repeat, no-repeat, no-repeat'
} : null">
  <div class="pt-32"></div>
  <div class="lg:pt-0 lg:pb-5 space-y-8 text-center bg-water-mark w-[80%] bg-no-repeat bg-contain bg-center mx-auto ">
    <h1 class="title text-blue-400">Chuyên gia bảo hiểm xe</h1>
    <p class="text-white text-xl"><span class="font-light">Hotline:</span> 0936 224 224</p>
  </div>

  <div class="flex flex-col lg:flex-row gap-x-5  px-5 justify-end w-full">
      <div class="lg:fixed lg:-bottom-0 left-0 lg:ml-5 lg:w-[50%] z-20">
        <div class="flex justify-center lg:justify-start mb-2 lg:ml-[18%]  lg:mb-[8%] ">
          <img src="assets/img/logo/icc_shadow.png" class="w-56 md:w-72 lg:w-80 h-auto" alt="" [class.hidden]="selectedProduct">
          <div class="hexagon w-72 h-64 overflow-hidden shadow_img shadow-2xl" [class.hidden]="!selectedProduct">
            @if (selectedProduct) {
            <img src="{{selectedProduct.gif}}" class="w-full h-full object-cover " alt="">
            }
          </div>
        </div>
          <app-product-menu
          [products]="products"
          (productHover)="showProductDetails($event)"
          (productLeave)="hideProductDetails()"
          (productClick)="navigateToProduct($event)">
        </app-product-menu>
      </div>
    <div class="lg:w-[45%] lg:px-5 px-2  py-5 lg:py-0 text-justify">
      <!-- Phần hiển thị nội nội dung trang discover, khi hover vào img thì ẩn đi -->
      <div class="discovery__content space-y-6 leading-7" [class.hidden]="selectedProduct">
        <p>
          <span class="text-red-700">Bảo hiểm ICC-OFFB</span>
          là thành viên của Hệ sinh thái người dùng ô tô ICC – Hệ sinh thái cung cấp các dịch vụ đáp ứng các nhu cầu khi
          sử dụng ô tô tại Việt Nam. Với sự phong phú và đa dạng về dịch vụ như Mạng xã hội dành cho người dùng ô tô,
          Sàn thương mại điện tử cho lĩnh vực ô tô, Trợ lý ảo hỗ trợ vận hành ô tô... và Bảo hiểm điện tử (Insurtech).
        </p>

        <p>
          Bên cạnh đó, hệ sinh thái ICC kết nối với các thương hiệu sản xuất ô tô và hệ thống gara trên khắp 63 tỉnh
          thành.
        </p>
        <p>
          <strong>Với triết lý kinh doanh:</strong><br>
          <span class="text-blue-600">More options, more better!</span>
          - Thêm lựa chọn, thêm lợi ích! ICC-OFFB luôn nỗ lực để trở thành một sự lựa chọn phù hợp nhất của khách hàng
          và đối tác.
        </p>
      </div>
      <!-- Phần hiển thị nội nội dung chi tiết sản phẩm, khi hover chuột vào img thì hiển thị phần này  -->
      <div class="detail__product leading-6" [class.hidden]="!selectedProduct">
        @if (selectedProduct) {
        <p class="text-2xl font-semibold uppercase my-3 tracking-wide">
          {{selectedProduct.title}}
        </p>
        <p class="text-sm leading-6" [innerHtml]="(selectedProduct.description ?? '') | sanitizeHtml">
        </p>
        <p class="text-xl font-semibold text-blue-500 mt-3">
          Phạm vi bảo hiểm
        </p>
        <div class="text-sm my-2 leading-6" [innerHtml]="(selectedProduct.coverage ?? '') | sanitizeHtml">
        </div>
        <p class="text-xl font-semibold text-blue-500 mt-3">
          Quyền lợi bảo hiểm
        </p>
        <div class="text-sm leading-6 mt-2" [innerHtml]="(selectedProduct.interest ?? '') | sanitizeHtml">
        </div>
        }
      </div>
    </div>

  </div>
</div>

