<header class="fixed top-0 left-0 right-0 z-50 bg-whiteColor px-1 shadow-md border-b border-b-gray-300 h-nav">
  <div
    class="relative font-fira text-gray-600 flex lg:flex-row justify-between justify-items-center items-center h-full w-full bg-whiteColor " [class.hidden]="isInputSearch()">
    <div class="logo h-full  flex justify-start min-w-max">
      <a class="flex justify-between items-center cursor-pointer" routerLink="/home">
        <img src="assets/img/logo/ICC.png" alt="" class="h-11  ml-2 ">
        <img src="assets/img/logo/offb_new.jpg" alt=""
          class="hidden md:block h-12 lg:h-10 mx-3 rounded-full border-4 border-blue-200  ">
      </a>
      <div class="hidden 2xl:block content-end relative">
        <p class="text-6xl text-gray-300 text-opacity-30 ">insurtech</p>
        <p class="text-black font-[400] tracking-tighter text-sm z-10 absolute bottom-1 left-0">More Options, More Better!</p>
      </div>
    </div>
    <div [class.hidden]="!isMobileMenuOpen()"
      class="nav__main lg:block w-[80%] md:w-[50%] sm:fixed sm:top-0 right-0 h-full  content-center lg:w-auto lg:text-sm text-base absolute lg:static bg-white z-20 ">
      <ul
        class="flex flex-col lg:flex-row lg:justify-between lg:items-center mt-14 lg:mt-auto h-screen lg:h-full cursor-pointer bg-white ">
        <li class="pl-10 lg:px-3  nav__link lg:h-full" routerLink="/home" (click)="closeMobileMenu()">Trang chủ</li>
        <li class="pl-10 lg:px-3 nav__link lg:h-full" routerLink="/about" (click)="closeMobileMenu()">Giới thiệu</li>
        <li class="pl-10 lg:px-3 nav__link lg:h-full" routerLink="/home" (click)="closeMobileMenu()">Tin tức</li>
        <li class=" pl-10 lg:px-3 nav__link lg:h-full" routerLink="/home" (click)="closeMobileMenu()">Liên hệ</li>
        <li class="text-gray-400 px-3 hidden xl:block">|</li>
        <li class="nav__link pl-10 lg:px-3 lg:h-full relative group">
          Sản phẩm
          <i class="ri-arrow-down-s-line transition-transform group-hover:hidden"></i>
          <i class="ri-arrow-up-s-line transition-transform hidden group-hover:inline-block"></i>

          <ul class="menu__item">
            @for(product of products; track product.key) {
            <li class="nav__link px-3 py-2 mx-0 lg:shadow-md" (click)="closeMobileMenu()">
              <a [routerLink]="['/product', product.slug]" routerLinkActive="active"
                class="flex justify-between items-center gap-x-4 w-full h-full">
                <span class="capitalize">Bảo hiểm {{product.shortTiltle}}</span>
                <div class="image-container hidden lg:block">
                  <img [src]="product.icon" class="h-[30px] w-[30px]" [alt]="product.shortTiltle">
                </div>
              </a>
            </li>
            }
          </ul>
        </li>
        <li class="pl-10 lg:px-3 nav__link lg:h-full" routerLink="/home" (click)="closeMobileMenu()">Tra cứu GCN</li>
      </ul>
      <div (click)="closeMobileMenu()" class="fixed top-6 right-6 text-2xl cursor-pointer lg:hidden ">
        <i class="ri-close-circle-line text-3xl"></i>
      </div>
    </div>
    <div class="nav-right h-full ">
      <ul
        class="flex  justify-between justify-items-center items-center h-full w-full text-xl text-black cursor-pointer">
        <li class="text-gray-400 hidden xl:block">|</li>
        <li class="nav__link  h-full text-center aspect-square" (click)="toggSearch()">
          <i class="ri-search-line"></i>
        </li>
        <li
          class="hidden xl:block nav__link  h-full text-center  aspect-[3/2] gap-x-1 ">
          <i class="ri-phone-fill "></i>
          <span class=" text-xs underline">Hotline 24/7</span>
        </li>
        <li class="text-gray-400 xl:block">
          |
        </li>
        <li class=" h-full text-center aspect-square nav__link">
          <i class="ri-global-line"></i>
        </li>
        <li class="nav__link   h-full text-center aspect-square mx-0" routerLink="/home" (click)="closeMobileMenu()">
          <i class="ri-home-4-fill"></i>
        </li>
        <li (click)="toggleMobileMenu()"
          class=" block lg:hidden nav__link  h-full text-center aspect-square">
          <i class="ri-menu-3-line"></i>
        </li>

      </ul>
    </div>
  </div>

  <form class="flex items-center justify-between justify-items-center px-5 h-full gap-x-5 text-black" [class.hidden]="!isInputSearch()">
    <input type="text" placeholder="Search everything............................"
    class="w-full h-10 border-2 rounded-full border-gray-300 focus:border-primaryColor  outline-0 px-5">
    <i class="ri-close-circle-fill text-3xl text-primaryDark"(click)="toggSearch()"></i>

  </form>

</header>
