<div class="border border-white rounded-md h-auto text-center p-3">
  <p class="text-sm md:text-lg lg:text-xl mb-3">Các sản phẩm <span class="text-blue-500">Bảo hiểm</span> dành cho bạn và
    người thân
  </p>
  <div class="list-product grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
    @for (product of products; track product.key) {
    <div class="flex-col justify-between items-center justify-items-center group justify-self-center"
      (mouseenter)="onProductHover(product)" (mouseleave)="onProductLeave()" (click)="onProductClick(product.slug)">
      <div class="relative overflow-hidden inner-shadow-ellipse">
        <img [src]="product.icon" [alt]="product.shortTiltle"
          class="inline-block icon-img relative z-10 transition-transform duration-300 group-hover:scale-125">
        <div
          class="absolute inset-0 bg-ellipse-inner-shadow opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        </div>
      </div>
      <div class="lg:invisible lg:group-hover:visible">
        <p class="text-xs pb-1 border-b border-gray-300 max-w-fit inline-block">{{product.shortTiltle}}</p>
        <br>
        <button class="text-red-500 custom-shadow bg-custom-gradient font-semibold px-2 py-1 rounded-full text-xs mt-1">
          Mua ngay
        </button>
      </div>
    </div>
    }
  </div>
</div>
